.App {
    text-align: center;
    margin: 1rem 0;
    color: white !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* TODOLIST */

.input-list {
    margin: 0 1rem;
    width: 100%;
    max-width: 700px;
    border-radius: 50px !important;
    padding: 8px 1rem;
    max-height: max-content;
    color: white !important;
}

.button-list {
    text-align: center;
    border-radius: 50px !important;
    padding: 7px 40px !important;
}


/* BOARD */

.box {
    color: white;
    width: 20rem;
    height: 40rem;
    border-radius: 33px;
    padding: 1rem;
}

.box-list {
    color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 18px;
}